In [8]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings

warnings.filterwarnings('ignore')
%matplotlib inline
sns.set_style('whitegrid')

In [9]:
# reading the data
df = pd.read_csv('../data/RTAQI_update.csv')

In [10]:
# displaying the data
display(df.head(),df.tail(),df.sample(5))

,state,city,station,last_update,pollutant_id,pollutant_min,pollutant_max,pollutant_avg
0,Andhra_Pradesh,Amaravati,"Secretariat, Amaravati - APPCB",2024-04-14 11:00:00,NH3,2.0,4.0,4.0
1,Andhra_Pradesh,Amaravati,"Secretariat, Amaravati - APPCB",2024-04-14 11:00:00,SO2,9.0,14.0,12.0
2,Andhra_Pradesh,Chittoor,"Gangineni Cheruvu, Chittoor - APPCB",2024-04-14 11:00:00,PM2.5,42.0,246.0,74.0
3,Andhra_Pradesh,Chittoor,"Gangineni Cheruvu, Chittoor - APPCB",2024-04-14 11:00:00,PM10,46.0,156.0,74.0
4,Andhra_Pradesh,Rajamahendravaram,"Anand Kala Kshetram, Rajamahendravaram - APPCB",2024-04-14 11:00:00,SO2,11.0,12.0,11.0

,state,city,station,last_update,pollutant_id,pollutant_min,pollutant_max,pollutant_avg
3228,West_Bengal,Kolkata,"Victoria, Kolkata - WBPCB",2024-04-14 11:00:00,PM2.5,78.0,103.0,91.0
3229,West_Bengal,Kolkata,"Victoria, Kolkata - WBPCB",2024-04-14 11:00:00,PM10,100.0,131.0,111.0
3230,West_Bengal,Kolkata,"Victoria, Kolkata - WBPCB",2024-04-14 11:00:00,CO,69.0,109.0,77.0
3231,West_Bengal,Kolkata,"Victoria, Kolkata - WBPCB",2024-04-14 11:00:00,OZONE,11.0,86.0,29.0
3232,West_Bengal,Siliguri,"Ward-32 Bapupara, Siliguri - WBPCB",2024-04-14 11:00:00,PM10,72.0,131.0,102.0

,state,city,station,last_update,pollutant_id,pollutant_min,pollutant_max,pollutant_avg
2846,Madhya Pradesh,Mandideep,"Sector-D Industrial Area, Mandideep - MPPCB",2024-04-14 11:00:00,PM2.5,30.0,112.0,59.0
2497,Uttar_Pradesh,Ghaziabad,"Vasundhara, Ghaziabad - UPPCB",2024-04-14 11:00:00,NO2,19.0,84.0,47.0
89,Chhattisgarh,Korba,"Rampur, Korba - CECB",2024-04-14 11:00:00,SO2,9.0,26.0,14.0
617,Uttar_Pradesh,Noida,"Sector-1, Noida - UPPCB",2024-04-14 11:00:00,OZONE,25.0,172.0,46.0
1928,West_Bengal,Kolkata,"Jadavpur, Kolkata - WBPCB",2024-04-14 11:00:00,PM2.5,52.0,93.0,73.0

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3233 entries, 0 to 3232
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   state          3233 non-null   object
 1   city           3233 non-null   object
 2   station        3233 non-null   object
 3   last_update    3233 non-null   object
 4   pollutant_id   3233 non-null   object
 5   pollutant_min  3233 non-null   float64
 6   pollutant_max  3233 non-null   float64
 7   pollutant_avg  3233 non-null   float64
dtypes: float64(3), object(5)
memory usage: 202.2+ KB

In [13]:
df.describe()

       pollutant_min  pollutant_max  pollutant_avg
count    3233.000000    3233.000000    3233.000000
mean       23.538871      81.495185      42.171106
std        24.871403      91.543673      42.921555
min         1.000000       1.000000       1.000000
25%         6.000000      20.000000      12.000000
50%        15.965909      51.000000      29.000000
75%        34.000000     105.000000      58.000000
max       306.000000     500.000000     340.000000